.button {
    color: #fff;

    background-color: #333;

    border: 0;

    padding: 8px;

    cursor: pointer;

    transition: background-color 0.3s;

    @media not all and (pointer: coarse) {
        &:hover {
            background-color: #000;
        }
    }
}