.button {
  color: #fff;

  background-color: #333;

  border: 0;

  min-width: 118px;
  padding: 8px;

  cursor: pointer;

  transition: background-color 0.3s;

  @media not all and (pointer: coarse) {
    &:hover {
      background-color: #000;
    }
  }
}