.cart {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px 10px;

  &__title {
    width: 100%;
    margin: 0 0 20px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 100%;
    margin-bottom: 20px;
  }

  &__list-heads {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1/-1;

    &::before,
    &::after {
      content: '';

      display: block;
    }
  }

  &__head {
    font-weight: 700;
    text-align: center;

    &:nth-child(1 of .cart__head) {
      justify-self: flex-start;

      min-width: 150px;
    }
  }

  &__total {
    font-weight: 700px;
    font-size: 24px;

    margin-left: auto;
  }

  &__empty {
    align-self: flex-start;
  }

  @media (min-width: 768px) {
    &__list {
      display: grid;
      grid-template-columns: 60px 1fr 60px 110px 60px 30px;
    }
  }
}