* {
  font-family: 'Manrope';

  box-sizing: border-box;
}

html {
  height: 100%;

  overflow: hidden;
}

body {
  font-family: 'Manrope';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #333;

  height: 100%;
  margin: 0;

  overflow: hidden auto;
  scrollbar-gutter: stable;
}

main {
  max-width: 1264px;
  margin: 0 auto;
  padding: 50px 16px;

  @media (min-width: 1024px) {
    padding: 50px 32px;
  }
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.3s;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}