* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: #333;

    height: 100%;
    margin: 0;

    overflow: hidden auto;
}

main {
    max-width: 1264px;
    margin: 0 auto;
    padding: 10px 16px;

    @media (min-width: 1024px) {
        padding: 10px 32px;
    }
}