.catalog {
  display: flex;
  flex-direction: column;
  gap: 40px;

  padding-block: 40px;

  &__title {
    margin: 0;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 60px 24px;

    padding-top: 20px;
  }

  @media (min-width: 500px) {
    &__grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }


  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 160px 1fr;
    grid-template-rows: auto 1fr;
    gap: 20px 40px;

    &__grid {
      padding: 0;
    }
  }

  @media (min-width: 1024px) {
    grid-template-columns: 200px 1fr;
    gap: 20px 80px;

    &__grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (min-width: 1280px) {
    &__grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}