.product-card {
    display: flex;
    flex-direction: column;
    gap: 6px;

    &__title {
        font-size: 18px;

        margin: 0;
    }

    &__brand {
        font-size: 14px;
    }

    &__price {
        font-size: 14px;
    }

    &__img {
        display: flex;
        justify-content: center;

        border: 2px solid #333;

        :deep(img) {
            object-fit: contain;
        }
    }
}