.product-card {
  display: flex;
  flex-direction: column;
  gap: 6px;

  &__title {
    font-size: 18px;

    margin: 0;
  }

  &__brand {
    font-size: 14px;
  }

  &__price {
    font-size: 14px;
  }

  &__img {
    border: 2px solid #333;

    width: 100%;
    height: 200px;

    object-fit: contain;
  }
}