.product-card {
  display: grid;
  grid-template-columns: 60px 1fr 30px;
  grid-template-rows: 60px 1fr;
  gap: 16px;
  align-items: center;

  border-bottom: 2px solid #333;

  padding-bottom: 10px;

  &__remove {
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: flex-start;

    background-color: transparent;

    border: 0;

    width: 30px;
    height: 30px;
    padding: 0;

    transition: opacity 0.3s;

    cursor: pointer;

    @media not all and (pointer: coarse) {
      &:hover {
        opacity: 0.7;
      }
    }
  }

  &__name {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: flex-start;

    font-size: 16px;

    margin: 0;
    padding-top: 4px;
  }

  &__wrap {
    grid-column: span 2;
    display: flex;
    gap: 16px;
    align-items: center;
  }
}