.counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;

  border: 2px solid #333;

  width: fit-content;
  width: 106px;

  &__btn {
    flex-shrink: 0;

    color: #fff;

    background-color: #333;

    border: 0;

    width: 30px;
    height: 28px;
    padding: 0;

    transition: background-color 0.3s;

    cursor: pointer;

    @media not all and (pointer: coarse) {
      &:hover {
        background-color: #000;
      }
    }
  }

  &__value {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    width: 30px;
    height: 100%;
  }

  &--catalog {
    align-self: center;

    width: 100%;
  }
}