.counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;

  border: 2px solid #333;

  width: fit-content;
  width: 106px;

  &__btn {
    flex-shrink: 0;

    color: #fff;

    background-color: #333;

    border: 0;

    width: 30px;
    height: 30px;
    padding: 0;

    transition: background-color 0.3s;

    cursor: pointer;

    @media not all and (pointer: coarse) {
      &:hover {
        background-color: #000;
      }
    }
  }

  &__value {
    text-align: center;
    text-overflow: ellipsis;

    border: 0;

    width: 30px;
    height: 100%;
    padding: 0;
    margin: 0;

    &:focus-visible {
      outline: none;
    }
  }
}