.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;

    &__cart {
        width: 50px;
        height: 50px;
        padding: 10px;
    }

    &__cart-icon {
        width: 100%;
        height: 100%;

        object-fit: contain;
    }
}