.logo {
    display: block;

    width: 151px;
    height: 34px;

    &__img {
        width: 100%;
        height: 100%;

        object-fit: contain;
    }

    &[href] {
        transition: opacity 0.3s;

        @media not all and (pointer: coarse) {
            &:hover {
                opacity: 0.7;
            }
        }
    }
}